# Node.js
node_modules/
client/node_modules/
server/uploads/*
!server/uploads/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Next.js
.next/
out/
*.log

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# MacOS и прочие
.idea/
*.swp

# Optional: если TypeScript
*.tsbuildinfo

# Optional: исключить билд Webpack
dist/
build/