html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}


.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  flex-direction: column;
  gap: 10px;
}

.center-will {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
  flex-direction: column;
  gap: 10px;
  margin-top: 5%;
}

.form-title {
  text-align: center;
  font-size: 1.875rem; /* text-3xl */
  font-weight: bold;
  margin-bottom: 2rem;
}

.form-input {
  width: 100%;
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 0.5rem; /* rounded */
  padding: 0.5rem; /* p-2 */
}

.form-button {
  background-color: #16a34a; /* green-600 */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.link-button {
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
  color: #2563eb; /* blue-600 */
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
}

.space-y-4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.head-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.div-body {
  flex: 1;
  background-color: #d1d5db;
  margin-left: 15%;
  margin-right: 15%;
}

.main-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.exist-acc {
  margin: 20px;
}

.error-text {
  color: red;
  font-size: 24px;
}

.exit-button {
  margin-left: 10%;
}

.check-button {
  margin-left: 10%;
  margin-right: 10%;
}